#Compiled Object files
*.slo
*.lo
*.o
*.obj

#Precompiled Headers
*.gch
*.pch

#Compiled Dynamic libraries
*.so
*.dylib
*.dll

#Fortran module files
*.mod

#Compiled Static libraries
*.lai
*.la
*.a
*.lib

#Executables
*.exe
*.out
*.app

#Autotools
Makefile
*/Makefile
*/*/Makefile
*.cache
*.log
*.status
*.inc
*.deps
*.dep.*
*.files
*.ofiles
*.in
*.dirstamp
libtool
configure
build-aux
aclocal.m4
m4/lt*.m4
m4/libtool.m4
CTAGS
TAGS
tags
config.*
stamp-h1

#FronTier
example2d/example*
example3d/example*
cFluid/cFluid
cFluid/init_intfc-*
timeSeries/timeSeries
weno/test
weno/matdata
iFluid/iFluid
melting/melting
crystal/crystal
subsurf/subsurf
airfoil/airfoil
Collision/test
Collision/init
BVH/OFF2FTsurf
BVH/collision
folding/test
parachute/parachute
parachute/ginit
parachute/intfc
fabric/fabric
fabric/cgal_intfc_test
fabric/fabric_Fortn
fabric/fabric_Cplus
cfabric/fabric
cfabric/cgal_intfc_test
cfabric/fabric_Fortn
cfabric/fabric_Cplus
FrontWrapper/example00
CGAL_Interface/cgal_intfc_test
*Tests
*.txt
*.xg

#Others
*~
core.*
test-*
*/out-*
autogen*
*/input*/qrun
*.trs
tests/DummyFrontTests
Manifest.txt
*.tar.gz
*.swp

#Exceptions to ignore rule
!include/*/Makefile

