# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
lib
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#Makefile
#*.cache
#*.log
#*.status
*.inc
*.deps
*.dep.*
*.files
*.ofiles
#configure
#include
crystal
iFluid

#example2d
example2d/example*

# Others
*~
